<template>
    <div class="rights">
         <!-- user_top 面包屑 -->
        <el-breadcrumb style="margin-bottom:15px;" separator="/">
            <el-breadcrumb-item :to="{ path: '/index' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>权限管理</el-breadcrumb-item>
            <el-breadcrumb-item>权限列表</el-breadcrumb-item>
        </el-breadcrumb>

        <el-table
            :data="permissionList"
            stripe
            style="width: 100%"
            height="430"
        >
            <el-table-column
                type="index"
                width="50"
                label="#"
            >
            </el-table-column>
            <el-table-column
                prop="authName"
                label="权限名称"
                width="180"
            >
            </el-table-column>
            <el-table-column
                prop="path"
                label="路径"
                width="180"
            >
            </el-table-column>
            <el-table-column
                prop="level"
                label="层级"
            >   
                <template slot-scope="scope">
                    <span v-if='scope.row.level==0'>一级</span>
                    <span v-if='scope.row.level==1'>二级</span>
                    <span v-if='scope.row.level==2'>三级</span>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
import {getpermissionList} from '../../http/api'
export default {
    data(){
        return{
             permissionList: []
        }
    },
    methods:{
        _getPermissionList(){
            getpermissionList().then((res)=>{
                console.log(res)
                this.permissionList=res.data
            })
        }
    },
    created(){
        this._getPermissionList()
    }
}
</script>
<style lang='scss' scoped>
.rights{
    padding:15px;
    background:#fff;
    border-radius: 5px;
}
</style>