<template>
    <div class="roles">
        <!-- roles_top 面包屑 -->
        <el-breadcrumb style="margin-bottom:15px;" separator="/">
            <el-breadcrumb-item :to="{ path: '/index' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>权限管理</el-breadcrumb-item>
            <el-breadcrumb-item>角色列表</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row>
           <el-button type="primary"  @click="addRoles=true">添加角色</el-button>
        </el-row>
    
        <!-- 表格 -->
        <el-table
            :data="RolesList"
            style="width: 100%"
        >   
            <el-table-column type="expand">
            <template slot-scope="scope">
                <el-form label-position="left" inline class="demo-table-expand">
                    <el-row v-for="item in scope.row.children" :key="item.id">
                        <el-col :span='4'>
                            <el-tag
                                closable
                                @close='deleteRight(scope.row.id,item.id)'
                            >
                            {{item.authName}}
                            </el-tag>
                        </el-col>
                        <el-col :span='20'>
                            <el-row v-for="items in item.children" :key="items.id"> 
                                <el-col :span='4'>
                                    <el-tag
                                        type='warning'
                                        closable
                                        @close='deleteRight(scope.row.id,items.id)'
                                    >
                                    {{items.authName}}
                                    </el-tag>
                                </el-col>
                                <el-col :span='20'>
                                    <el-tag
                                        v-for="itemss in items.children"
                                        :key="itemss.id"
                                        type='success'
                                        @close='deleteRight(scope.row.id,itemss.id)'
                                        closable
                                    >
                                    {{itemss.authName}}
                                    </el-tag>
                                </el-col>
                            </el-row>
                        </el-col>
                    </el-row>
                    
                    
                </el-form>
            </template>
            </el-table-column>
            <el-table-column
                label="#"
                type="index"
                width='50px'
            >
            </el-table-column>
            <el-table-column
                label="角色名称"
                prop="roleName"
            >
            </el-table-column>
            <el-table-column
                label="角色描述"
                prop="roleDesc"
            >
            </el-table-column>
            <el-table-column
                label="操作"
                prop="desc"
            >
                <!-- 点击编辑 删除 修改-->
                <template slot-scope="scope">
                    <el-button @click="editorialRole(scope.row)" size='small' type="primary" icon="el-icon-edit" circle></el-button>
                    <el-button @click="deleteRoles(scope.row)" size='small' type="danger" icon="el-icon-delete" circle></el-button>
                    <el-button @click="showRolePermissions(scope.row)" size='small' type="success" icon="el-icon-check" circle></el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog title="分配权限" :visible.sync="editRoleTreeDialog">
            <el-tree
                ref='tree'
                :data="permissionList"
                show-checkbox
                default-expand-all
                node-key="id"
                :props="defaultProps"
            >
            </el-tree>
            <div slot="footer" class="dialog-footer">
                <el-button @click="editRoleTreeDialog=false" >取 消</el-button>
                <el-button type="primary" @click="determineRoleInformation">确 定</el-button>
            </div>
        </el-dialog>


        <!-- 添加角色 -->
        <el-dialog title="添加角色信息" :visible.sync="addRoles">
            <el-form :model="roleInformation">
                <el-form-item 
                    label="角色名称" 
                    :label-width="formLabelWidth"
                    prop='roleName'
                    :rules="[
                        {required:true,message:'请输入角色名称',trigger:'blur'}
                    ]"
                >
                    <el-input v-model="roleInformation.roleName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item 
                    label="角色描述" 
                    :label-width="formLabelWidth"
                    prop='roleDesc'
                    :rules="[
                        {required:true,message:'请输入角色描述',trigger:'blur'}
                    ]"
                >
                    <el-input v-model="roleInformation.roleDesc" autocomplete="off"></el-input>
                </el-form-item>
                
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addRoles=false" >取 消</el-button>
                <el-button type="primary" @click="addRolesDetermine">确 定</el-button>
            </div>
        </el-dialog>

        <!-- 编辑角色信息 -->
        <el-dialog  title="编辑用户信息" :visible.sync="editRoleInformation" >
            <el-form  :model="editorialRoleList" >
                <el-form-item 
                    label="角色名称" 
                    :label-width="formLabelWidth"
                    prop='roleName'
                    :rules="[
                        {required:true,message:'请输入角色名',trigger:'blur'}
                    ]"
                >
                    <el-input v-model="editorialRoleList.roleName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item 
                    label="角色描述" 
                    :label-width="formLabelWidth"
                    prop='roleDesc'
                    :rules="[
                        {required:true,message:'请输入角色描述',trigger:'blur'}
                    ]"
                >
                    <el-input v-model="editorialRoleList.roleDesc" autocomplete="off"></el-input>
                </el-form-item>
                
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="editRoleInformation=false" >取 消</el-button>
                <el-button type="primary" @click="submitEditRole">确 定</el-button>
            </div>
        </el-dialog>
        
    </div>


    
</template>
<script>
import {getUserRoleList,getDeleteRoleJurisdiction,getPermissionList,getEditSubmitRole,addRoleInformation,getDeleteRoles,getEditorialRole} from '../../http/api'
export default {
    data() {
      return {
        RolesList:[],
        editRoleTreeDialog:false,
        permissionList: [],
        defaultProps: {
          children: 'children',
          label: 'authName'
        },
        roleId:'',
        addRoles:false,
        formLabelWidth:'80px',
        roleInformation:{
            roleName:'',
            roleDesc:''

        },
        editorialRoleList:{
            id:'',
            roleName:'',
            roleDesc:''
        },
        editRoleInformation:false
      }
    },
    created(){
        this._getRolesList()
    },
    methods:{
        //刷新列表
        _getRolesList(){
            getUserRoleList().then((res)=>{
                // console.log(res)
                this.RolesList = res.data
            })
        },
        //删除权限
        deleteRight(roleId,rightId){
            // console.log(roleId,rightId)

            getDeleteRoleJurisdiction({roleId,rightId}).then((res)=>{
                // console.log(res)
                this.$message({
                    showClose:true,
                    message:res.meta.msg,
                    type:'success'
                })
                this._getRolesList()
            })

        },
        //点击显示编辑权限
        showRolePermissions(val){
            getPermissionList().then((res)=>{
                // console.log(val)
                this.permissionList=res.data
                this.$nextTick(()=>{
                    this.$refs.tree.setCheckedNodes(val.children)
                })
                this.roleId=val.id
            })
            this.editRoleTreeDialog=true
        },
        //确定编辑角色授权
        determineRoleInformation(){
            // console.log(this.$refs.tree.getCheckedKeys().join(','))
            const str = this.$refs.tree.getCheckedKeys().join(',')
            getEditSubmitRole(this.roleId,str).then((res)=>{
                this.$message({
                    showClose:true,
                    message:res.meta.msg,
                    type:'success'
                })
                this._getRolesList()
            })
            this.editRoleTreeDialog=false
        },
        //添加角色
        addRolesDetermine(){
            addRoleInformation(this.roleInformation).then(res=>{
                this.$message({
                    showClose:true,
                    message:res.meta.msg,
                    type:'success'
                })
                this.addRoles=false
                this._getRolesList()
            })
        },
        //删除角色
        deleteRoles(val){
            // console.log(val.id)
            this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
            }).then(()=>{
                // const id = val.id
                getDeleteRoles(val.id).then((res)=>{
                    // console.log(res)
                    this.$message({
                        type: 'success',
                        message: res.meta.msg,
                    }); 
                    this._getRolesList()
                }).catch((err)=>{
                    
                })
            }).catch((err)=>{
                this.$message({
                    type: 'info',
                    message: '取消删除'
                });
            })
        },
        //编辑角色
        editorialRole(val){
            // console.log(val.id)
            this.editorialRoleList.roleName=val.roleName
            this.editorialRoleList.roleDesc=val.roleDesc
            this.editorialRoleList.id=val.id
            this.editRoleInformation=true
        },
        //提交所编辑的角色
        submitEditRole(){
            const {id,roleName,roleDesc} = this.editorialRoleList
            getEditorialRole(id,{roleName,roleDesc}).then((res)=>{
                this.$message({
                    showClose:true,
                    message:res.meta.msg,
                    type:'success'
                })
                this._getRolesList()
            })
            this.editRoleInformation=false
        }
    }
}
</script>
<style lang='scss' scoped>
.roles{
    padding: 15px;
    background: #fff;
    border-radius: 5px;
}
</style>