<template>
  <div class="login">
    <div class="login-form-warp">
      <h3 class="login-form-title">欢迎登录</h3>
      <div class="login-form">
        <el-form
          ref="ligin-form"
          :model="form"
          class="demo-form-inline"
          size="small"
          :rules="rules"
        >
          <el-form-item prop="username">
            <el-input v-model="form.username" placeholder="用户名">
              <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input type="password" v-model="form.password" placeholder="密码">
              <el-button slot="prepend" icon="el-icon-unlock"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button class="login-form-btn" type="primary" @click="_login">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
import { login } from "../http/api";
export default {
  data() {
    return {
      form: {
        username: "",
        password: ""
      },
      rules: {
        username: [
          {
            required: true,
            message: "请输入用户名",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            message: "请输入密码",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    //登录
    //方法一
    // login(){
    //     login(this.form)
    //     .then(res=>{
    //         console.log(res)
    //     })
    // }

    //方法二
     _login() {
        this.$refs['ligin-form'].validate(async (valid)=>{
          try{
              if(valid){
                  const  res = await login(this.form); //根据登录返回的接口
                  const { token, username } =res.data
                  // const res = await login(this.form)
                  // console.log(res)
                  // console.log(token);
                  this.$message({
                    showClose: true,
                    message: "欢迎回来" + username,
                    type: "success"
                  });

                  this.$store.commit("setToken", token);
                  this.$store.commit("setUsername", username);
                  this.$router.replace({
                      name: "index"
                  });
              }else{
                  return false
              }
          }catch(err){
            
          }
              
        })
            
    }
  }
};
</script>
<style lang='scss' scoped>
.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    center center no-repeat;
  background-size: cover;
  .login-form-warp {
    width: 300px;
    margin-right: 160px;
    background: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    .login-form-title {
      padding: 15px;
      border-bottom: 1px solid #ddd;
      font-size: 14px;
      font-weight: 700;
    }
    .login-form {
      padding: 15px;
      .login-form-btn {
        width: 100%;
      }
    }
  }
}
</style>