<template>
    <div class="users">
        <!-- user_top 面包屑 -->
        <el-breadcrumb style="margin-bottom:15px;" separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>用户管理</el-breadcrumb-item>
            <el-breadcrumb-item>用户列表</el-breadcrumb-item>
        </el-breadcrumb>

        <!-- 用户表单 -->
        <el-form :inline="true">
            <el-form-item>
                <el-input style="width:350px;" @keyup.enter.native="_getUsers" v-model="params.query">
                    <el-button 
                        slot="append" 
                        icon="el-icon-search" 
                        @click="_getUsers"
                    ></el-button>
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type='primary' @click="userInfoDialog=true">添加用户</el-button>
            </el-form-item>
        </el-form>
        <el-table
            :data="result.users"
            border
            style="width: 100%"
        >
            <el-table-column
                type="index"
                width="50"
                label="#"
            >
            </el-table-column>
            <el-table-column
                prop="username"
                label="姓名"
                width="180"
            >
            </el-table-column>
            <el-table-column
                prop="email"
                label="邮箱"
                width="180"
            >
            </el-table-column>
            <el-table-column
                prop="mobile"
                label="电话"
            >
            </el-table-column>
            <el-table-column
                prop="create_time"
                label="创建日期"
            >
            </el-table-column>
            <el-table-column
                prop="mg_state"
                label="用户状态"
            >   
                <!-- 用户状态 true 或 false-->
                <template slot-scope="scope">
                    <el-switch
                        v-model="scope.row.mg_state"
                        active-color="#13ce66"
                        inactive-color="#ff4949"
                        @change="change(scope.row)"
                    >
                    </el-switch>
                </template>
            </el-table-column>
            <el-table-column
                prop="address"
                label="操作"
            >   
                <!-- 点击编辑 删除  修改-->
                <template slot-scope="scope">
                    <el-button @click="userInEdits(scope.row)" size='small' type="primary" icon="el-icon-edit" circle></el-button>
                    <el-button @click="usersEdit(scope.row)" size='small' type="danger" icon="el-icon-delete" circle></el-button>
                    <el-button @click="usersAdministration(scope.row)" size='small' type="success" icon="el-icon-check" circle></el-button>
                </template>

            </el-table-column>
        </el-table>

        <!-- 切换页数 -->
        <el-pagination
            style="margin-top:15px;"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="params.pagenum"
            :page-sizes="[2, 4, 6, 8]"
            :page-size="params.pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="result.total"
        >
        </el-pagination>

        <!-- 添加用户 -->
        <el-dialog title="添加用户信息" :visible.sync="userInfoDialog">
            <el-form ref='userInfoForm' :model="userInfoForm">
                <el-form-item 
                    label="用户名称" 
                    :label-width="formLabelWidth"
                    prop='username'
                    :rules="[
                        {required:true,message:'请输入用户名',trigger:'blur'}
                    ]"
                >
                    <el-input v-model="userInfoForm.username" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item 
                    label="密码" 
                    :label-width="formLabelWidth"
                    prop='password'
                    :rules="[
                        {required:true,message:'请输入密码',trigger:'blur'}
                    ]"
                >
                    <el-input v-model="userInfoForm.password" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item prop="email" label="电话" :label-width="formLabelWidth">
                    <el-input v-model="userInfoForm.email" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item prop="mobile" label="电子邮箱" :label-width="formLabelWidth">
                    <el-input v-model="userInfoForm.mobile" autocomplete="off"></el-input>
                </el-form-item>
                
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="userInfoDialog=false" >取 消</el-button>
                <el-button type="primary" @click="addUsersBtn">确 定</el-button>
            </div>
        </el-dialog>

        <!-- 编辑用户信息 -->
        <el-dialog  title="编辑用户信息" :visible.sync="userInEdit" >
            <el-form  :model="userInfoEdit" >
                <el-form-item 
                    label="用户名称" 
                    :label-width="formLabelWidth"
                    prop='username'
                    :rules="[
                        {required:true,message:'请输入用户名',trigger:'blur'}
                    ]"
                >
                    <el-input v-model="userInfoEdit.username" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="电话" :label-width="formLabelWidth">
                    <el-input v-model="userInfoEdit.email" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="电子邮箱" :label-width="formLabelWidth">
                    <el-input v-model="userInfoEdit.mobile" autocomplete="off"></el-input>
                </el-form-item>
                
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="userInEdit=false" >取 消</el-button>
                <el-button type="primary" @click="editUsersBtn">确 定</el-button>
            </div>
        </el-dialog>



        <!-- 编辑用户管理身份 -->
        <el-dialog  title="编辑用户管理身份" :visible.sync="userEditManagt" >
            <el-form>
               <div><span>用户名：</span><span>{{Administrators.username}}</span></div>
            </el-form>

            <el-select v-model="Administrators.rid" placeholder="请选择" class="eldropdown">
                <el-option
                v-for="item in UserRoleList"
                :key="item.id"
                :label="item.roleName"
                :value="item.id">
                </el-option>
            </el-select>

            <div slot="footer" class="dialog-footer">
                <el-button @click="userEditManagt=false" >取 消</el-button>
                <el-button type="primary" @click="EditManagtDetermine">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
import {getUsers,addUsers,changingState,getUsersEdit,getUsersEditSubmission,getUserRoleList,getChangeUserRole,getUserInformation} from '../../http/api'
import { async } from 'q'
export default {
    data(){
        return{
            params:{
                query:'',
                pagenum:1,
                pagesize:2
            },
            result:{},
            userInfoForm:{
                username:'',
                password:'',
                email:'',
                mobile:''
            },
            userInfoDialog:false,
            formLabelWidth:'80px',
            userInEdit:false,
            userInfoEdit:{
                username:'',
                email:'',
                mobile:''
            },
            userEditManagt:false,
            Administrators:'',
            UserRoleList: {},
            value: ''
        }
    },
    methods:{
        //用户列表
        async _getUsers(){
            const res = await getUsers(this.params)
            // console.log(res.data)
            this.result=res.data
        },

        //点击选择一页几条数据
        handleSizeChange(num){
            // console.log(num)
            this.params.pagesize = num
            this._getUsersFrom()

        },

        //点击到第几页
        handleCurrentChange(num){
            this.params.pagenum = num
            this._getUsersFrom()
        },
        //添加用户
        addUsersBtn(){
            this.$refs.userInfoForm.validate(async (valid)=>{
                if(valid){
                    const addSuccess = await addUsers(this.userInfoForm)
                    this.$message({
                        showClose:true,
                        message:addSuccess.meta.msg,
                        type:'success'
                    })
                    this.userInfoDialog=false
                    this.$refs.userInfoForm.resetFields()
                    this._getUsersFrom()
                } 
            })
        },
        //添加用户，排除query
        async _getUsersFrom(){
            const {pagenum,pagesize} = this.params
            const res = await getUsers({
                pagenum,
                pagesize
            })
            // console.log(res)
            this.result=res.data
        },
        //改变用户状态
        change(data){
            // console.log(data)
            changingState(data).then((res)=>{
                // console.log(res.meta.msg)
                this.$message({
                    showClose: true,
                    message: res.meta.msg,
                    type: "success"
                });
            })
        },
        //点击删除
        usersEdit(val) {
            // console.log(val)
            this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
            }).then(()=>{
                // const id = val.id
                getUsersEdit(val.id).then((res)=>{
                    // console.log(res)
                    this.$message({
                        type: 'success',
                        message: res.meta.msg,
                    }); 
                    this._getUsersFrom()
                }).catch((err)=>{
                    
                })
            }).catch((err)=>{
                this.$message({
                    type: 'info',
                    message: '取消删除'
                });
            })
            
        },
        //点击编辑用户信息
        userInEdits(val){
            // console.log(val)
            this.userInEdit=true
            this.userInfoEdit.username=val.username
            this.userInfoEdit.email=val.email
            this.userInfoEdit.mobile=val.mobile
            this.userInfoEdit.id=val.id
        },
        editUsersBtn(){
            const {id,email,mobile}=this.userInfoEdit
            getUsersEditSubmission(id,{email,mobile}).then((res)=>{
                // console.log(res)
                this._getUsersFrom()
                this.$message({
                    type: 'success',
                    message: res.meta.msg,
                }); 
            }).catch((err)=>{

            })
            this.userInEdit=false
        },

        //修改用户管理状态
        usersAdministration(val){
            this.userEditManagt=true
            //请求用户管理列表
            getUserRoleList().then((res)=>{
                this.UserRoleList=res.data
                // console.log(res.data)
            })
            //请求用户信息
            getUserInformation(val.id).then((res)=>{
                // console.log(res.data)
                this.Administrators=res.data
            })

        },
        EditManagtDetermine(){
            console.log(this.Administrators.rid)
            getChangeUserRole(this.Administrators.id,this.Administrators.rid).then((res)=>{
                // console.log(res)
                this.$message({
                    showClose: true,
                    message: res.meta.msg,
                    type: "success"
                });
            }).catch(err =>{})
            this.userEditManagt=false
        },
        
    },
    created(){
        this._getUsersFrom()
    }
}
</script>
<style lang='scss' scoped>
.users{
    padding:15px;
    background:#fff;
    border-radius: 5px;
}
</style>